HTML, body, #MAIN {
  position: relative;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* 2022-05-10 Added. */
body {
    overflow: hidden;
}
/* 2022-05-10 Added. */
#MAIN {
  user-select: none;
}

/* 2021-04-01 removed: bo-layercontrol */

.leaflet-top {
  position: absolute;
  height: 100%;
}

.bo-map {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index: 900;
}

.bo-layerswitcher-root {
  position: absolute;
  right: 0.25em;
  top: 0.25em;
  margin: 0;
  padding: 0;
  max-width: 100%;
  max-height: 95%; /* a little smaller */
  z-index: 1000;
  overflow: auto;
}

/* 2020-04-03 Added */
/* 2020-04-01 Modified: position, left, top added */
.bo-layercontrol-root {
  position: relative;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  font-size: 0.5cm;
}

.bo-layercontrol-select > select {
  padding: 0.25em;
  font-size: 1.25em;
}

.bo-layercontrol-list {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: auto;
}

.bo-layercontrol-labelwrap,
.bo-layercontrol-item {
  margin: 0;
  padding: 0.5em 1.25em 0.5em 0.5em;
  background: #fff;
  border: solid 1px #666;
  cursor: pointer;
  position: relative;
}

.bo-layercontrol-hit {
  background: #ccc;
}

.bo-layercontrol-label {
  display: inline;
}

.bo-layercontrol-labelswitch {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  width: 0.5em;
  height: 0.5em;
}

/* 2021-04-01 Added */
.bo-centercross {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* 2021-04-01 Added: Zoom control must be upper than layer selector. */
.leaflet-left {
  z-index: 1200;
}
.leaflet-right {
  z-index: 900;
}

/* MAP */
/* 2021-04-01 Added. */
/* single */
#CHIEFMAP {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

/* 2021-04-01 Added. */
#SUBMAP {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  right: 0;
  bottom: 0;
  display: none;
}

/* 2021-04-01 Added: dualmap */
.bo-map-dualmaph #CHIEFMAP {
  width: 50%;
  display: block;
}

.bo-map-dualmaph #SUBMAP {
  width: 50%;
  display: block;
}

.bo-map-dualmapv #CHIEFMAP {
  height: 50%;
  display: block;
}

.bo-map-dualmapv #SUBMAP {
  height: 50%;
  display: block;
}

.bo-map-dualmapin #SUBMAP {
  width: 100%;
  height: 100%;
  display: block;
}

.bo-map-dualmapin #CHIEFMAP {
  display: block;
  left: 1em;
  right: 1em;
  top: 3.5em;
  bottom: 3.5em;
  width: auto;
  height: auto;
/*
  width: 90%;
  height: 90%;
  display: block;
  left: 5%;
  top: 5%;
  right: 5%;
  bottom: 5%;
*/
}

.bo-map-dualmapin #SUBMAP .leaflet-control-zoom {
  display: none;
}

.bo-map-dualmapin #SUBMAP .bo-map {
  z-index: 890; /* under #CHIEFMAP .bo-map */
}

.bo-map-dualmapin #SUBMAP .bo-layerswitcher-root {
  z-index: 1010; /* above #CHIEFMAP .bo-layerswitcher-root */
}


/*
.bo-map-dualmapin #SUBMAP .leaflet-map-pane {
  pointer-events: none;
}
*/


/* MAPCONSOLE */
#MAPCONSOLE-ROOT {
  z-index: 1000; /* leaflet set by 200 */
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0;
  max-width: 90%;
  max-height: 90%;
}

/* 2021-04-01 Modified: overflow from #MAPINFO */
#MAPINFO-ROOT {
  z-index: 1000; /* leaflet set by 200 */
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 90%;
  max-height: 70%;
  overflow: auto;
  display: none;
}

/* 2021-04-01 Modifird: overflow to #MAPINFO-ROOT */
#MAPINFO {
  margin: auto;
  padding: 1em;
  background: #fff;
  border: solid 1px #999;
  border-radius: 1em;
  text-align: center;
}

#MAPINFO-APPNAME,
#MAPINFO-APPVER {
  font-size: 1.2em;
  font-weight: bold;
}

#MAPINFO-DISMISS {
  margin-top: 1em;
  padding: 0.25em;
}

#MAPCONSOLE {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

#MAPCONSOLE-MAIN {
  margin: 1em;
  padding: 1em 1em 3em 1em;
  border: solid 1px #999;
  border-radius: 1em;
  background: #fff;
  text-align: center;
}

#MAPCONSOLE-BUTTON {
  z-index: 1000; /* leaflet set by 200 */
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0;
  width: 3em;
  height: 2em;
  padding: 1em 0 0 0;
  border: solid 1px #999;
  border-radius: 1.5em 1.5em 0 0/1.5em 1.5em 0 0;
  background: #fff;
  text-align: center;
}

.mapconsole-button-icon-wrap
{
  width: 2em;
  height: 2em;
  padding: 0;
  display: block;
  margin: 0 auto 0 auto;
  text-align: center;
}

/* 2020-04-01 Modified: margin added */
/* 2021-04-01 Modified: .icon-wrap-active selector added */
/* 2021-04-01 Modified: border added */
.icon-wrap, .icon-wrap-active {
  width: 2em;
  height: 2em;
  padding: 0.25em;
  display: inline-block;
  margin: 0.25em;
  border: solid 1px rgba(255,255,255,0);
}

.icon-wrap-active {
  border: solid 1px #f00;
}

.icon {
  stroke: #000;
  fill: #000;
}

.icon-active {
  stroke: #f00;
  fill: #f00;
}

.icon-inactive {
  stroke: #333;
  fill: #333;
}

/* 2021-04-01 Added for center crosshair */
.bo-icon-centercross {
  background: transparent;
  cursor: grab; /* for leaflet */
}

.bo-icon-centercross svg {
  fill: rgba(255,0,0,0.5);
  stroke: rgba(255,0,0,1);
  stroke-width: 2px;
}

/* 2024-03-09 Added for labelswitcher */
/* If "display:none", label.width is shurinked. If "visibility:hidden", label.width is not. */
.bo-layercontrol-closed .bo-layercontrol-list {
  visibility: hidden;
  height: 0; /* list.height must be shurinked. */
}

.bo-map-dualmapin #SUBMAP .bo-layercontrol-closed .bo-layercontrol-label {
  display: none;
}

.bo-map-dualmapin #SUBMAP .bo-layercontrol-closed .bo-layercontrol-list {
  width: 0; /* list.width must be shurinked. */
}

/* labelswitch.position is absolute -> if label is not displayed, layercontrol is shrinked. */
.bo-layercontrol-labelwrap {
  height: 1.5em;
}

